{{ define "main" }}

  <div class="header-wrapper-articles">  
    <h1 class="title {{if not .Params.description}} no-subtitle{{end}}">Articles</h1>
    {{- with .Params.description -}}
      <h2 class="subtitle">{{ . | truncate 160 }}</h2>
    {{- end -}}
  </div>

  <div class="content is-clearfix">
    {{ partial "content-header" . }}
    {{ .Content }}
  </div>

  {{ if eq .Section "authors" }}
    <div class="author-icons-wrapper">
      {{ range $.Params.socials }}
        <a data-tooltip="{{ .name }}" href="{{ .src }}" class="author-icons">
          <svg class='remix-big-primary'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .icon }}-line"></use>
          </svg>
        </a>
      {{ end }}
    </div>
  {{ end }}

  <div class="columns is-multiline">
    
    {{ $paginator := .Paginator.Pages  }}
    {{ range $paginator }}

      {{ partial "cards" . }}
    {{ end }}
  </div>

  {{ partial "pagination" . }}

{{ end }}
