{{ define "main" }}
 
  <div class="content content-wrapper is-clearfix">
    {{ partial "content-header" . }}
    {{ .Content }}
  </div>

  <div class="columns is-multiline">

    {{- if eq .Section "tags" -}}
      {{- range .Site.Taxonomies.tags.ByCount -}}
        {{ partial "card-counter" (dict "context" . ) }}
      {{- end -}}
    
    {{ else if (eq .Section "series") }}
      {{- range .Site.Taxonomies.series.ByCount -}}
        {{ partial "card-counter" (dict "context" . ) }}
      {{- end -}}

    {{ else if (eq .Section "authors") }}
      {{- range .Site.Taxonomies.authors.ByCount -}}
        {{ partial "card-counter" (dict "context" . ) }}
      {{- end -}}

    {{- else -}}

      {{ $categoryColor := .Scratch }}
      {{ range .Site.Params.categoryColor }}
        {{ $categoryColor.SetInMap "color" .name .color }}
      {{ end }}
      
      {{- range .Site.Taxonomies.categories.ByCount -}}
        {{ partial "card-counter" (dict "context" . "color" $categoryColor) }}
      {{- end -}}

      {{ $categoryColor.Delete "color" }}

    {{- end -}}
    
  </div>

{{ end }}




