{{ $list := .GetTerms "authors" }}
{{ $len := len $list }}

{{ range (.GetTerms "authors") }}
  <aside class="card is-small-authors {{ if .Resources }}has-image{{else}}no-image{{ end }}">
  
    {{- if .Resources -}}
      <div class="card-image">
        <figure class="image is-3by2">
          <a href="{{ .Permalink }}">
            {{- range first 1 (.Resources.ByType "image") -}}
              {{- $img := .Fill "480x320" -}}
              <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" loading="lazy" width="480" height="320">
            {{- end -}}
          </a>
        </figure>
      </div>
    {{- end -}}

    <div class="card-content">
      <div class="media-content">
        <a class="title is-4" href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
        {{ if .Params.birthdate }}
          <span class="heading">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#cake-line"></use>
            </svg> {{ .Params.birthdate }}
          </span>
        {{ end }}
      </div>
    
      <div class="content">
        {{- if le $len 1 -}}
          <!-- Show only for one Author -->
          {{ .Content | truncate 210 " [...]" | markdownify }}
        {{ end }}
        <a class="read-more" href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
      </div>
      
    </div>

    <footer class="card-footer">
      {{ range .Params.socials }}
        <span class="card-footer-item">
          <a data-tooltip="{{ .name }}" href="{{ .src }}" target="_blank" rel="noreferrer">
            <svg class='remix'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .icon }}-line"></use>
            </svg>
          </a>
        </span>
      {{ end }}
    </footer>
    
  </aside>
{{ end }}