header.header section.hero .hero-body h1,
header.header section.hero .hero-body h2 {
  color: $text;
}

header.header {
  height: 360px;
  border-bottom: 5px solid #554944;
  box-shadow: none;
  position: relative;
  z-index: 3;
  box-shadow: none;

  @media (max-width: 505px) {
    height: 250px;
  }

  #city {
    background-image: url("/images/header.svg");
    background-repeat: repeat-x;
    background-position: center calc(100% - 52px);
    background-size: auto 85%;
    position: relative;
    z-index: 1;
    filter: sepia(0.4);

    @media (max-width: 505px) {
      background-size: auto 60%;
    }
  }

  &.sky {
    background: radial-gradient(circle, rgba(#00285c, 1) 0%, rgba(#2c449d, 1) 35%, rgba(#fff, 1) 100%);

    &.night {
      background: radial-gradient(circle, rgba(#000000, 1) 0%, rgba(#010010, 1) 35%, rgba(#0c1a37, 1) 100%);
    }
    &.dawn {
      // day start
      background: radial-gradient(ellipse at bottom, rgba(#0c1a37, 1) 0%, rgba(#2c449d, 1) 50%, rgba(#ce98af, 1) 100%);
    }
    &.day {
      background: radial-gradient(circle, rgba(#32bafa, 1) 0%, rgba(#b8e7fd, 1) 35%, rgba($text, 1) 100%);
    }
    &.dusk {
      // day evening
      background: radial-gradient(ellipse at bottom, rgba(#0c1a37, 1) 0%, rgba(#2c449d, 1) 50%, rgba(#ef8d5c, 1) 100%);
    }
  }
  
}

// LOGO
.brand-logo {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: auto;
  // border: 1px solid red;
  height: 360px;
  width: 100%;
  a.brand {
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    // border: 1px solid orange;
    top: 120px;
    z-index: 999;
    position: absolute;
    @media (max-width: 505px) {
      top: 80px;
    }
  }

  @media (max-width: 505px) {
    height: 250px;
  }
}

.clock-logo {
  background: url("/images/clock.png") no-repeat top center;
  background-size: contain;
  position: absolute;
  opacity: .8;
  top: 0em;
  bottom: 0;
  width: 100%;
  height: 300px;
  display: block;
  animation: clock alternate 2s both;
  -webkit-animation: clock alternate 2s both;
  -moz-animation-name: clock alternate 2s both;
  z-index: 1;
  will-change: background-position;

  @media (max-width: 730px) {
    background-size: 210px;
  }
  @media (max-width: 505px) {
    background-size: 150px;
    height: 195px;
  }

  @-moz-keyframes clock {
    0% { background-position: 50% 200px; } 
    100% {background-position: 50% 20px; } 
  }
  @-webkit-keyframes clock {
    0% { background-position: 50% 200px; } 
    100% {background-position: 50% 20px; } 
  }
  @-o-keyframes clock {
    0% { background-position: 50% 200px; } 
    100% {background-position: 50% 20px; } 
  }
  @keyframes clock {
    0% { background-position: 50% 200px; } 
    100% {background-position: 50% 20px; } 
  }
}

.textlogo {
  background: linear-gradient(to bottom, #b78846 32%, #ffcb9a 50%, #624925 72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  @include font-header;
  position: relative;
  font-size: 70px;
  margin: 0;
  top: 25%;
  @media (max-width: 730px) {
    font-size: 50px;
  }
  @media (max-width: 505px) {
    font-size: 35px;
  }

  &:before {
    content: "";
    height: 60%;
    width: 59%;
    margin-top: 3%;
    margin-left: 21%;
    position: absolute;
    background-color: $text;
    opacity: .4;
    z-index: -1;
    filter: blur(30px);
  }
    
  &:after {
    background: none;
    padding: 0 130px;
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: -1px 0 1px #ffcb9a, 0 1px 1px #ffcb9a, 5px 5px 10px rgba(0, 0, 0, 0.7), -2px -2px 5px rgba(255, 255, 255, 0.3);
    @media (max-width: 730px) {
      padding: 0 90px;
    }
    @media (max-width: 505px) {
      padding: 0 50px;
    }
  }
  
  span.shimmer {
    padding: 0 130px;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from($primary), to($primary), color-stop(.5, #fff));
    background: -moz-gradient(linear, left top, right top, from($primary), to($primary), color-stop(.5, #fff));
    background: gradient(linear, left top, right top, from($primary), to($primary), color-stop(.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-position: 0 0;

    // Wird per JS getriggert
    &.shimmer-animation {
      -webkit-animation: shimmer alternate .8s both;
      -moz-animation-name: shimmer alternate .8s both;
      animation: shimmer alternate .8s both;
      will-change: background-position;
    }
    
    @media (max-width: 730px) {
      padding: 0 90px;
      -webkit-background-size: 80px 100%;
      -moz-background-size: 80px 100%;
      background-size: 80px 100%;
    }
    @media (max-width: 505px) {
      padding: 0 50px;
      -webkit-background-size: 40px 100%;
      -moz-background-size: 40px 100%;
      background-size: 40px 100%;
    }
  }

  @-moz-keyframes shimmer {
    0% { background-position: top left; }
    100% { background-position: top right; }
  }
  @-webkit-keyframes shimmer {
    0% { background-position: top left; }
    100% { background-position: top right; }
  }
  @-o-keyframes shimmer {
    0% { background-position: top left; }
    100% { background-position: top right; }
  }
  @keyframes shimmer {
    0% { background-position: top left; }
    100% { background-position: top right; }
  }
}

// THANKS: https://codepen.io/bennettfeely/pen/mEjio
#santahat {
  .front, .back {
    position: absolute;
    width: 4.5rem;
    height: 3.9rem;
    top: 22px; 
    left: calc(50% - 228px);
    transform: rotate(-15deg);

    @media (max-width: 730px) {
      width: 3.5rem;
      height: 3rem;
      top: 15px; 
      left: calc(50% - 165px);
    }
    @media (max-width: 505px) {
      width: 2.5rem;
      height: 2.4rem;
      top: 9px; 
      left: calc(50% - 117px);
    }
  }

  .front { 
    z-index: 9; 
  }
  .back {
    z-index: -100;
    animation: counter-wiggle 4s ease-in-out;
    -webkit-animation: counter-wiggle 4s ease-in-out;
    transform-origin: 1.5rem 2rem;
  }
  .santa-hat-piece {
    fill: firebrick;
  }
  
  @keyframes counter-wiggle {
    33%{ transform: rotate(-20deg); }
    66%{ transform: rotate(10deg); }
  }
}

// THANKS: https://codepen.io/matchboxhero/pen/RLebOY
.bird-wrapper {
  .bird {
    background-image: url("/images/bird-cells-news.svg");
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    &--one {
      animation-duration: 1s;
      animation-delay: -0.5s;		
    }
    &--two {
      animation-duration: 0.8s;
      animation-delay: -0.75s;
    }
  }

  .bird-container {
    position: absolute;
    top: 15px;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @media (max-width: 505px) {
      top: -30px;
    }
    &--one {
      animation-duration: 15s;
      animation-delay: 0;
    }
    &--two {
      animation-duration: 16s;
      animation-delay: 1s;
    }
  }
  @keyframes fly-cycle {
    100% { background-position: -900px 0; }
  }
  @keyframes fly-right-one {
    0% { transform: scale(0.25) translateX(-10vw);}
    10% { transform: translateY(2vh) translateX(10vw) scale(0.3); }
    20% { transform: translateY(0vh) translateX(30vw) scale(0.35); }
    30% { transform: translateY(4vh) translateX(50vw) scale(0.4); }
    40% { transform: translateY(2vh) translateX(70vw) scale(0.4); }
    50% { transform: translateY(0vh) translateX(90vw) scale(0.4); }	
    60% { transform: translateY(0vh) translateX(110vw) scale(0.35); }
    100% { transform: translateY(0vh) translateX(110vw) scale(0.35); }
  }
}

// THANKS: https://codepen.io/uchardon/pen/bxbqoG
.wave-wrapper,
.wave-wrapper-two {
  position: absolute;
  width: 20em;
  top: 260px;
  left: calc(50% - 14em);
  filter: sepia(.2);
  opacity: .7;
  will-change: transform;
  @media (max-width: 505px) {
    top: 155px;
    height: 50px;
  }
  svg {
    width:100%;
  }
  .wave {
    animation: wave 8s linear;
    animation-iteration-count: infinite;
    fill: #4478e3;
  }
  #wave2,
  #wave5 {
    animation-duration: 10s;
    animation-direction: reverse;
    opacity: .6;
  }
  #wave3,
  #wave6 {
    animation-duration: 12s;
    opacity: .3;
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }
}
.wave-wrapper-two {
  left: calc(50% - 64em);
}

.sky-stars-wrapper {
  width: 100%;
  height: 290px;
  position: absolute;
  overflow: hidden;

  @media (max-width: 505px) {
    height: 195px;
  }

  // n is number of stars required
  @function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(270)}px #FFF';
      @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(270)}px #FFF'
      }
    @return unquote($value);
  }
  $shadows-small: multiple-box-shadow(100);
  $shadows-medium: multiple-box-shadow(80);
  $shadows-big: multiple-box-shadow(30);

  #sky-stars-1,
  #sky-stars-2,
  #sky-stars-3 {
    background: transparent;
    opacity: .2;
  }

  #sky-stars-1 {
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
  }
  
  #sky-stars-2 {
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
  }
  
  #sky-stars-3 {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
  }
}

// THANKS: https://codepen.io/nicooprat/pen/ALANqj
#hotairballoon {
  // width: 35px;
  position: absolute;
  top: 130px;
  left: calc(50% + 360px);
  background: url("/images/hotairballoon.svg") no-repeat;
  width: 40px;
  height: 40px;
  transform: rotate(10deg)
}


// NAVIGATION
nav.navbar {
  margin-top: -3.5em;
  padding: 0 2.5em;
  background: darken($pageBack, 1%);
  font-weight: 600;
  height: 56px;
  @media (max-width: 1023px) {
    margin-top: -3.5em;
  }
  @media (max-width: 566px) {
    padding: 0 1em;
  }
  @media (max-width: 380px) {
    padding: 0 0.5em;
  }
  .navbar-brand {
    height: 56px;
    &:hover {
      background-color: darken($pageBack, 3%);
    }
  }
  .navbar-item.navbar-logo {
    display: none;
    span {
      margin-left: 65px;
    }
    img {
      height: 60px;
      width: 60px;
      max-height: 60px;
      position: absolute;
      top: -1px;
      left: .9em;
      opacity: .5;
    }
  }
  .navbar-item.field {
    padding-right: 0;
  }

  input[type=search] {
    border: none;
    position: relative;
    z-index: 555;
    background-color: rgba(0, 0, 0, 0.2);
    color: $text;
    @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
    &:focus {
      @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      ~ span.icon .remix {
        fill: $hover;
      }
    }
  }
  .searchWithButton {
    display: inline-block;
  }
  button#searchIcons {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 5555;
    top: 9px;
    right: 0px;
  }

  .control.is-loading::after {
    border: 2px solid $primary;
    border-top-color: $primary;
    border-right-color: $primary;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-top: -17px;
  }

  .navbar-burger {
    height: 100%;
    &:hover,
    &.is-active {
      background-color: darken($pageBack, 7%);
    }
    &:hover span {
      background-color: $hover;
    }
    span {
      height: 2px;
      background-color: $primary;
    }
  }


  a.navbar-item {
    color: $primary;
    padding-left: 1.5em;
    padding-right: 1.5em;

    &.is-active,
    &:hover, &:focus {
      color: $accent;
      background-color: darken($pageBack, 7%);
    }
    &:hover, &:focus {
      color: $hover;
    }
  }
  
  .navbar-item.has-dropdown {
    padding: 0;

    .navbar-link {
      color: $primary;
      background-color: transparent;
      padding-left: 1.5em;

      &::after {
        margin-left: .5em;
        border: 3px solid $primary;
        border-bottom: none;
        border-left: none;
        margin-top: -2px;
      }
      &.is-active,
      &:hover, &:focus {
        color: $accent;
        background-color: darken($pageBack, 7%);
    
        &::after {
          border-color: $accent;
        }
      }
      &:hover, &:focus {
        color: $hover;
      }

    }

    &.is-active,
    &:hover, &:focus {
      color: $accent;
      background-color: darken($pageBack, 7%);

      .navbar-link {
        color: $accent;
    
        &::after {
          border: 3px solid $primary;
          border-top: none;
          border-right: none;
          margin-top: -5px;
        }
      }
    }
    &:hover, &:focus {
      .navbar-link {
        color: $hover;
    
        &::after {
          border: 3px solid $accent;
          border-top: none;
          border-right: none;
          margin-top: -5px;
        }
      }
    }

    .navbar-dropdown {
      background-color: darken($pageBack, 7%);
      border: 1px solid rgba($primary, .2);
      width: calc(100% -4rem);
      min-width: unset;


      > .navbar-item {
        padding: 1rem 1.5rem;
        
        &::before {
          content: "•";
          color: $accent;
          padding-right: .5em;
        }

        &:hover {
          background-color: darken($pageBack, 5%);
        }
      }
    }

    &.is-mega {
      position: static;

      .navbar-dropdown {
        padding: 0;
        margin: 0 40px;

        &:before {
          left: 15%;
        }
        
        .container {
          padding: 1.25rem;
          margin: 0;

          .columns {
            padding: 0;

            .column {
              margin: 0;
              padding: 0;
            }
          }
        }

        .navbar-content {
          font-size: 1rem;
          color: $text;
          font-weight: normal;
          padding: 1.25rem;

          figure.image {
            float: left;
            margin: 0 1.5em 0em 0;
            width: 200px;
            max-height: 100%;

            a {
              img {
                width: 200px;
                height: 150px;
                max-height: 100%;
                border-radius: $radius-large;
                @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba($text, .1));
                filter: sepia(1);
                object-fit: cover;
                
                &:hover, &:focus {
                  filter: sepia(0);
                }
              }
            }
          }

          a.title.is-5 {
            @include font-header;
            margin-bottom: .5em;
            font-size: 1.25rem;
            color: $primary;
            display: block;
          }

          a.read-more {
            font-size: 1rem;
            font-weight: normal;
          }

        }

      }
    }
  }
  

  @media screen and (max-width: 1023px) {
    
    .navbar-item.field {
      padding: 1.5em 1em;
    }
    .searchWithButton {
      width: 100%;
    }
    input[type=search] {
      background-color: $pageBack;
    }
    button#searchIcons {
      top: calc(12px + 1em);
      right: 1.5em;
    }

    .navbar-item {
      &.has-dropdown {
        .navbar-dropdown {
          display: none;
        }
      }
    }

    .navbar-brand:hover {
      background-color: transparent;
    }

    .navbar-burger:hover {
      background-color: darken($pageBack, 7%);
    }

    .navbar-menu {
      background-color: darken($pageBack, 7%);
      border: 1px solid rgba($primary, .2);
      padding: 0;
    }

    a.navbar-link,
    a.navbar-item {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid rgba($primary, .05);
    }

    .navbar-item.has-dropdown.is-mega {
      .navbar-dropdown {
        border: none;
        margin: 0;
        background-color: darken($pageBack, 5%);

        .navbar-content {
          padding: 0;
          figure,
          span.inner-content,
          .read-more {
            display: none;
          }

          a.title.is-5 {
            font-size: 15px;
            padding: 1em 1.5em;
            display: block;
            text-align: center;

            &:hover {
              background-color: darken($pageBack, 7%);
            }
          }
        }
      }
    }

    .navbar-item.has-dropdown {
      .navbar-dropdown {
        border: none;
        margin: 0;
        padding: 0;
        background-color: darken($pageBack, 5%);
      }
      .navbar-item {
        border: none;
        display: block;
        &:hover {
          background-color: darken($pageBack, 7%) !important;
        }
      }
    }
  }

}