article.card.is-horizontal, .card {
  width: calc(100% - 1.5em);
  margin-left: 1.5em;
  background: $background;
  @include box-shadow();
  border-radius: $radius-large;
  border: 1px solid rgba($primary, .2);
  
  &:after {
    content: "";
    height: 2px;
    width: 0;
    background-color: $hover;
    position: absolute;
    bottom: 0;
    left: 3px;
    display: block;
    z-index: 600;
    transition: width 0.3s linear;
  }
  &:hover:after {
    width: calc(100% - 6px);
    z-index: 6;
  }
  
  a.title {
    color: $primary;
    h2 {
      margin-bottom: .2em;
      @include font-header;

      &:hover {
        color: $hover;
      }
    }
  }
  span.heading {
    color: $small;
    .updated {
      padding-left: 1em;
    }
    .remix-small {
      @include translate(0, 4px);
    }
  }
  .rating {
    ul {
      list-style: none;
      margin: 0 0 .7em 0;
      width: auto;
      display: inline-block;
      li {
        display: inline-block;
        .remix {
          fill: $small;
          width: 18px;
          height: 18px;
          @include translate(0, 4px);
        }
      }
      li.star-count {
        color: $small;
        font-size: 13px;
        padding-left: .5em;
        padding-top: 0;
      }
    }
  }
  .tags-wrapper {
    padding: 0.5rem 0 0 0;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $secondary;
    a {
      color: $primary;
      &:hover {
        color: $hover;
      }
    }
    .remix-small {
      margin-right: 0.75em;
      @include translate(0, 4px);
    }
  }

  .card-footer {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 5;
    border-top: 1px solid darken($background, 6%);
    color: lighten($small, 10%);
    background: darken($background, 2%);
    .remix-small {
      margin-right: 0.4em;
      fill: lighten($small, 10%);
      &.comments {
        margin-left: 1em;
      }
    }
  
    .author-img {
      position: absolute;
      left: calc(50% - 24px);
      bottom: 1em;
      z-index: 55;
      transition: all .3s ease-out;
      img {
        filter: grayscale(1);
        
        &:hover {
          border: 1px solid $primary;
          filter: none;
          @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
        }
      }
      &.more-authors {
        display: inline-block;

        .author-opener {
          background: darken($background, 6%);
          width: 48px;
          height: 48px;
          color: $primary;
          font-size: 1.5em;
          @include font-header;
          text-align: center;
          display: inline-block;
          border-radius: 50%;
          line-height: 48px;
          cursor: pointer;
          border: 1px solid darken($background, 6%);
          &:hover {
            border: 1px solid $primary;
          }
        }

        .more-authors-img {
          background: darken($background, 8%);
          display: inline-block;
          margin-left: 10px;
          margin-bottom: -24px;
          position: relative;
          height: 62px;
          bottom: -18px;
          padding: 7px;
          @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
          display: none;

          &:before {
            content:"";
            border-style: solid;
            border-width: 10px 15px 10px 0;
            border-color: transparent darken($background, 8%) transparent transparent;
            position: absolute;
            left: -15px;
            top: 21px;
          }

          figure {
            margin-right: 10px;
            display: inline-block;
            border: none;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        .author-opener:hover + .more-authors-img,
        .more-authors-img:hover {
          display: inline-block;
        }

      }
    }
    .card-footer-item {
      padding: .75em 2rem;
      padding-bottom: calc(0.75em + 3px); 
      div {
        padding: 0;
        margin: 0;
        display: inline-block;
        svg.remix-small {
          @include translate(0, 4px);
        }
        &::after {
          margin-left: -7px;
        }
      } 
      &:not(:last-child) {
        border-right: 1px solid darken($background, 6%);
      }
    }
  }
}

article.card.is-horizontal.no-image, .card.is-small.no-image {
  position: relative;
  width: calc(100% + 1.5em);
  min-width: calc(100% + 1.5em);
  min-height: 300px;
  margin-left: -1.5em;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "content" "footer";
  .card-content { grid-area: content; }
  .card-footer { grid-area: footer; }

  .ribbon {
    top: 1.3em;
    right: 0;
    left: auto;
  }
}

article.card.is-horizontal.has-image {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: minmax(100px, 250px) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "image content" "footer footer";
  .card-image { grid-area: image; }
  .card-content { grid-area: content; }
  .card-footer { grid-area: footer; }

  .ribbon {
    top: 3em;
    left: -1.58em;
  }
  .card-image {
    figure.image {
      height: calc(100% - 1.5em - 3px);
      margin-left: -1.5em;
      margin-top: 1.5em;
      padding: 0;
      figcaption {
        z-index: 2;
        position: absolute;
        font-size: 11px;
        bottom: 0;
        color: $text;
        padding: .31em .5em;
        width: 100%;
        height: 37px;
        border-top: 1px solid #222;
        overflow: hidden;
        opacity: .7;
        background-color: rgba(darken($background, 1%), .5);
        svg {
          width: 20px;
          height: 20px;
          fill: $primary;
          @include translate(0, 6px);
        }
      }
      img {
        border-radius: $radius-large;
        @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba($text, .1));
        filter: sepia(1);
        transition: 0.3s;
        object-fit: cover;
        &:hover {
          filter: sepia(0);
        }
      }
    }
  }
  
  &:hover .card-image figure figcaption {
    opacity: 1;
    transition: .3s;
    background-color: rgba(darken($background, 1%), .7);
  }

  .card-content {
    padding: 0;
    .media-content {
      padding: 1.5rem 1rem .5rem 1rem;
    }
    .content {
      padding: 0 1.5rem 1.7rem 1rem;
    }
  }
}

article.card.is-horizontal.quote {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "content" "footer";
  .card-content { grid-area: content; }
  .card-footer { grid-area: footer; }

  &:hover .card-image figure img {
    filter: sepia(1);
  }
 
  .card-content {
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: relative;
    
    a {
      color: $primary;
      &:hover {
        color: $hover;
      }
    }

    .card-image {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      figure.image {
        width: 100%;
        background-color: $background;
        img {
          opacity: .5;
        }
        figcaption {
          background: none;
          border: none;
        }
        
      }
    }

    .card-content-inline {
      position: relative;
      top: 1.5em;
      left: -1.5em;
      height: calc(100% - 1.5em - 3px);
      width: 100%;
      z-index: 2;
      padding: 4rem 2rem 3rem 2rem;

      display: flex;
      flex-direction: column;

      h2 {
        color: $text;
        width: 100%;
        margin: auto 0;
        text-shadow: 3px 3px 4px rgba(#000, .5);
        background: linear-gradient(270deg, transparent 0%, rgba(25,25,25,.8) 50%, transparent 100%);
        padding: .5em 0;
        &::before, &::after {
          font-family: "remixicon" !important;
          color: $primary;
        }
        &::before {
          content: "\ec51";
        }
        &::after {
          content: "\ec52";
        }
      }

      .heading.author {
        height: 48px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        align-self: flex-end;
        margin-left:auto;
        background: linear-gradient(270deg, transparent 0%, rgba(25,25,25,.8) 50%, transparent 100%);
        text-shadow: 3px 3px 4px rgba(#000, .5);
        transition: all .3s ease-out;
        figure {
          margin-left: 1em;
          img {
            transition: all .3s ease-out;
            filter: grayscale(1);
          }
        }
        &:hover img {
          border: 1px solid $primary;
          @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
          filter: none;
        }
      }
    }
  }
}


.card.is-small.no-image, .card.is-small-count.no-image {
  position: relative;
  margin-left: -1.5em;
  width: calc(100% + 1.5em);
  min-width: calc(100% + 1.5em);
  min-height: 300px;
  display: flex;
  .ribbon {
    top: 1.3em;
    left: 0;
    right: auto;
  }
  .card-content {
    margin: auto 0;
    width: 100%;
  }
}

.card.is-small.has-image, .card.is-small-count.has-image {
  position: relative;
  width: calc(100% + 1.5em);
  min-width: calc(100% + 1.5em);
  margin-left: -1.5em;
  .card-image {
    figure.image {
      height: 100%;
      figcaption {
        z-index: 2;
        position: absolute;
        font-size: 11px;
        bottom: 0;
        color: $text;
        padding: .31em .5em;
        width: 100%;
        height: 37px;
        border-top: 1px solid #222;
        overflow: hidden;
        opacity: .7;
        background-color: rgba(darken($background, 1%), .5);
        svg {
          width: 20px;
          height: 20px;
          fill: $primary;
          @include translate(0, 6px);
        }
      }
      img {
        border-radius: $radius-large;
        // box-shadow: 0 6px 3px -3px rgba(#000, .3);
        @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba($text, .05));
        filter: sepia(1);
        transition: 0.3s;
        object-fit: cover;
        &:hover {
          filter: sepia(0);
        }
      }
    }
  }
  
  &:hover .card-image figure figcaption {
    opacity: 1;
    transition: .3s;
  }
}

.card.is-small-authors {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin-left: 0;
  margin-bottom: 2em;
  &:last-of-type {
    margin-bottom: 0;
  }
  img {
    border-radius: $radius-large;
    @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba($text, .05));
    filter: sepia(1);
    transition: 0.3s;
    &:hover {
      filter: sepia(0);
    }
  }
  svg:hover {
    fill: $hover;
  }
  &:hover img {
    filter: sepia(0);
  }
}


@media (min-width: 1217px) and (max-width: 1509px) {
  .column.is-half-custom-cards {
    width: 50%;
  }
}

@media (max-width: 566px) {
  .column {
    padding: 1rem;
  }
  article.card.is-horizontal.no-image,
  .card.is-small.has-image, 
  .card.is-small-count.has-image,
  .card.is-small.no-image, 
  .card.is-small-count.no-image {
    width: 100%;
    min-width: 100%;
    margin-left: 0;
  }

  article.card.is-horizontal.has-image:not(.quote) {
    position: relative;
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: unset;

    .card-image {
      height: auto;

      figure.image {
        height: 250px;
        margin-left: unset;
        margin-top: unset;
        padding-top: 0;
      }
    }

    .ribbon {
      left: -1px;
    }
  }

  article.card.is-horizontal.has-image.quote {
    figure.image {
      height: calc(100% - 3px);
      margin-left: 0;
      margin-top: 0;
    }

    .ribbon {
      left: -1px;
    }

    .card-content {
      position: unset;

    }

    .card-content-inline {
      left: 0;
      height: calc(100% - 3px);
    }
  }

  article.card.is-horizontal .card-footer .card-footer-item, 
  .card .card-footer .card-footer-item {
    padding: .75em;
  }
}

.column.is-pinned article.card {
  border: 1px solid rgba($primary, .6);

  footer.card-footer svg.remix-small.is-pinned {
    fill: $hover;
  }
}