// THANKS: https://codepen.io/wikiki/pen/XagrqJ
.has-ribbon {
  position: relative;
}
.ribbon {
  background-color: $accent;
  @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba($text, .07));
  color: #363636;
  font-size: 1rem;
  justify-content: center;
  max-width: 13em;
  white-space: inherit;
  text-align: left;
  position: absolute;
  top: 1.5em;
  font-weight: 400;
  z-index: 10;
  right: auto;
  left: 0;
  border-left: none;
  transition: all .3s ease-out;
}
.ribbon a, .is-single-page {
  color: #ffffff;
  display: block;
  font-weight: 600;
  @include font-header;
  padding: 0.3em 0.75em;
  transition: all .3s ease-out;
  &:hover {
    color: #ffffff;
  }
}

.is-single-page {
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  top: .3em;
  left: -1.5em;
  @include font-bold;
  font-size: .8em;
  z-index: unset;
  &:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    margin-left: 9px;
    margin-top: -4px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent $accent;
  }
}

.ribbon:hover {
  color: $pageBack !important;
  background-color: $small !important;
  font-weight: 600;
  @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
}