.message {
  display: grid;
  
  &[class*="is-"] {
    background-color: $background;
    .message-body {
      color: $text;
      border-left-width: 6px;
    }
  }
  &.is-primary .message-body {
    border-color: $primary;
    border-right: 1px solid $primary;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    .remix {
      fill: $primary;
    }
  }
  &.is-info .message-body {
    border-color: $info;
    border-right: 1px solid $info;
    border-top: 1px solid $info;
    border-bottom: 1px solid $info;
    .remix {
      fill: $info;
    }
  }
  &.is-success .message-body {
    border-color: $success;
    border-right: 1px solid $success;
    border-top: 1px solid $success;
    border-bottom: 1px solid $success;
    .remix {
      fill: $success;
    }
  }
  &.is-warning .message-body {
    border-color: $warning;
    border-right: 1px solid $warning;
    border-top: 1px solid $warning;
    border-bottom: 1px solid $warning;
    .remix {
      fill: $warning;
    }
  }
  &.is-danger .message-body {
    border-color: $danger;
    border-right: 1px solid $danger;
    border-top: 1px solid $danger;
    border-bottom: 1px solid $danger;
    .remix {
      fill: $danger;
    }
  }
  &.is-question {
    .message-header {
      background-color: $question;
    }
    .message-body {
      border-color: $question;
      border-right: 1px solid $question;
      border-top: 1px solid $question;
      border-bottom: 1px solid $question;
      .remix {
        fill: $question;
      }
    }
  }
  
  .message-body {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg.remix {
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      flex-grow: 0;
    }
    p {
      align-self: center;
      padding-left: 1.5em;
    }
  }

  .message-header + .message-body {
    border-width: 1px;
  }

  .message-header button.delete {
    border-radius: 50% !important;
  }
}

.message.content-shortcode {

  .message-header h2.title.is-5 {
    color: $background;
    margin: 0;
  }
}