.content.content-wrapper .column {
  padding: 0;
}

.content-archive-wrapper {

  h2, h3 {
    padding: 0 .5em;
    margin-top: 2em;
  }
  h2.title {
    text-align: center;
    color: $hover;
    overflow: hidden;
    padding: 0 4.5rem;
    
    &:before,
    &:after {
      background: rgba($primary, .5);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
    &:before {
      right: .5em;
      margin-left: -50%;
    }
    
    &:after {
      left: .5em;
      margin-right: -50%;
    }
  }
  
  h3.title {
    color: $accent;
  }

  a.title.is-5:hover {
    color: $hover;
  }

  .widget-archive {
    margin-left: 1em;
    margin-right: 1em;
  }
}