#comments {
  scroll-margin-top: 5em;

  strong {
    color: $text;
  }
  @media (max-width: 566px) {
    h2.title.is-4 {
      margin-left: 0;
    }
  }

  article.post-comment {
    margin-top: 0.75rem;
    border-top: 0;
    margin-left: -1.5em;
    .media-content {
      background: $background;
      @include box-shadow();
      border-radius: $radius-large;
      border: 1px solid rgba($primary, .2);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      flex-wrap: wrap-reverse;
      overflow: visible;

      .content {
        flex: 1;
        padding: 1.5em;
        margin: 0;

        p.is-4 {
          @include font-header;
        }
      }
      .media-footer {
        font-size: 11px;
        letter-spacing: 1px;
        z-index: 5;
        border-top: 1px solid darken($background, 6%);
        color: lighten($small, 10%);
        background: darken($background, 2%);
        line-height: 40px;
        overflow: visible;

        .footer-item {
          border-right: 1px solid darken($background, 6%);
          height: 100%;
          display: inline-block;
          padding: .5em 1.5em;

          .remix-small {
            margin-right: 0.4em;
            fill: $primary;
            @include translate(0, 4px);

            &:hover {
              fill: $hover;
            }
          }
        }

        .comment-time {
          .remix-small {
            fill: lighten($small, 10%);
          }
        }

        .comment-anchor {
          scroll-margin-top: 5em;
        }
     
        button {
          margin: 10px 10px 0 0;
          @include font-bold;
          font-size: 13px;
          float: right;
          color: $primary;
          border: 1px solid rgba($primary, .5);
          background-color: rgba(0, 0, 0, 0.2);
          @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
          border-radius: 7px;
          &:hover {
            color: $hover;
            @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
            border: 1px solid rgba($hover, .5);
            .remix {
              fill: $hover;
            }
          }
          .remix {
            fill: $primary;
            margin-right: 0.4em;
          }
        }
      }

      &:after {
        content: "";
        width: 20px; 
        height: 20px;
        position: absolute;
        margin-left: -1.1em;
        margin-top: 2.7em;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-right: 20px solid $background;
      }
    }
    figure {
      height: 120px;
      width: 120px;
      img {
        border: 1px solid $hover;
      }
      figcaption {
        color: $hover;
        @include font-header;
        font-size: 25px;
        text-shadow: 3px 3px 4px rgba(#000, 1);
        text-align: center;
        margin-top: -.7em;
        z-index: 9;
        position: relative;
      }
      a img {
        border: 1px solid $primary;
        transition: all .3s ease-out;
        filter: sepia(1);
        &:hover {
          border: 1px solid $hover;
          filter: sepia(0);
        }
      }
    }
    &.reply {
      margin-left: 7em;
    }
    &.no-comment .media-content {
      padding: 1.5em 1.5em 2.5em 1.5em;
      &::after {
        margin-left: -2.5em;
        margin-top: 1.2em;
      }
    }
    &.is-author .media-content {
      background: #3b382f;
      &:after {
        border-right: 20px solid #3b382f;
      }
      .media-footer {
        background: darken(#3b382f, 3%);
      }
    }
  }

  .content {
    pre {
      background: $pageBack;
    }
    blockquote {
      border-left: 5px solid $primary;
      color: rgba($text, .7);
    }
    h1, h2, h3, h4, h5, h6 {
      @include font-header;
      font-size: 1em;
      color: $hover;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 1em;
        line-height: 1.7em;
        margin: 0;
        padding: 0;
        &:before {
          content: "•";
          font-size: 30px;
          color: $primary;
          margin-left: .5em;
          margin-right: .3em;
        }
      }
    }
  }
}

#comments-messages,
#comments-deactivated-message {
  scroll-margin-top: 1em;
  margin: 0;
  
  h2.is-5 {
    color: $background;
    padding: 0;
    margin: 0;
  }
  article.message {
    background: transparent;
    // display: block !important;
    margin-bottom: 2em;
  }
  
}

#comments-deactivated-message {
  margin-left: -1.5em;
  margin-bottom: 3em;

  @media (max-width: 566px) {
    margin-left: 0;
  }
}

#comments-form {
  .title.is-4 {
    color: $hover;
  }

  #postcomment {
    scroll-margin-top: 4em;
  }

  form#comment-form {
    label {
      color: $text;
      svg.remix {
        fill: $danger;
        height: 13px;
        width: 13px;
        margin-left: .2em;
        margin-right: -7px;
        @include translate(0, -4px);
      }
    }
    input, textarea {
      border-radius: 7px;
      color: $text;
      background: $pageBack;
      @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      border: 1px solid rgba($primary, .5);
      &::placeholder {
        color: $text;
      }
      &:focus {
        border: 1px solid $hover;
        @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      }
      &.is-success {
        border-color: #48c774;
      }
      &.is-danger {
        border-color: $danger;
      }
      &.is-disabled {
        background-color: darken($pageBack, 5%);
        border: 1px solid rgba($primary, .2);
        @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
        opacity: .3;
        color: darken($text, 40%);
        & ~ .icon svg.remix {
          opacity: .2;
        }
      }
    }
    .b-checkbox.is-disabled {
      label {
        opacity: .3;
      }
    }

    .help.is-primary {
      color: $text;
    }
    span.icon {
      svg.remix {
        fill: $primary;
      }
      &.is-danger {
        svg {
          fill: $danger;
        }
      }
    }
    .field.is-horizontal.is-right {
      text-align: right;
    }
  }
  button {
    @include font-bold;
    float: right;
    color: $primary;
    border: 1px solid rgba($primary, .5);
    background-color: rgba(0, 0, 0, 0.2);
    @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
    border-radius: 7px;
    &:hover {
      color: $hover;
      @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      border: 1px solid rgba($hover, .5);
      .remix {
        fill: $hover;
      }
    }
    .remix {
      fill: $primary;
      margin-right: 0.4em;
    }
    &.is-loading {
      color: $hover;
      @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      border: 1px solid rgba($hover, .5);
      svg.remix {
        visibility: hidden;
      }
      &::after {
        border-color: transparent transparent $primary $hover !important;
        border-width: 3px;
      }
    }
  }
  .field.is-grouped .control {
    margin-left: auto;
  }

  .field.is-horizontal.checkbox {
    margin: 2em 0;
  }
}

#comments article.post-comment {
  @media (max-width: 815px) {
    &.reply {
      margin-left: 3em;
    }
  }

  @media (max-width: 650px) {
    &.reply {
      margin-left: -1.5em;
    }
  }

  @media (max-width: 590px) {
    .media-content .media-footer button span {
      display: none; 
      .remix {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 566px) {
    margin-left: 0;
    &.reply {
      margin-left: 0;
    }

    figure {
      height: 60px;
      width: 60px;
    }

    .media-content::after {
      margin-top: 10px;
    }
  }

  @media (max-width: 450px) {
    figure {
      height: 40px;
      width: 40px;
    }

    .media-content::after {
      margin-top: 4px;
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;
      border-right: 15px solid $background;
    }
  }

  @media (max-width: 405px) {
    .media-content .media-footer .footer-item {
      padding: .5em .7em;
    }
  }
}

#comments-form {
  @media (max-width: 566px) {
    margin-left: 0;
  }
}