{{- define "main" -}}
 
  <div class="columns is-multiline">

    <div class="column is-single-content {{ if .Resources }}has-image{{else}}no-image{{ end }} is-9-fullhd is-9-widescreen is-9-desktop is-full-tablet is-full-mobile">
      <article class="content box">
        <div>
          {{ if .Resources }}
            <figure class="image is-2by3">
              {{- $img := (.Resources.ByType "image").GetMatch "featured*" -}}
              {{- with $img -}}
                {{- $resize := .Fill "320x480" -}}
                  <img src="{{ $resize.RelPermalink }}" alt="{{ $.Title }}" height="480" width="320" loading="lazy">
              {{- end -}}

              {{- range .Params.featured_image -}}
                <figcaption>
                  <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use></svg>
                  {{ .byline | safeHTML }}
                </figcaption>
              {{- end -}}
            </figure>
          {{ end }}

          <div>
            <h1 class="title{{if not .Params.description}} no-subtitle{{end}}">{{ .Title | default .Site.Title }}</h1>
            {{- with .Params.description -}}
              <h2 class="subtitle">{{ . | truncate 160 }}</h2>
            {{- end -}}

            <div class="details-wrapper">
              {{- if .Params.icons -}}
                <div class="details-icons details-item">
                  <div class="title is-5">
                    <div class="details-ribbon">
                      <svg class="remix-small"><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#bookmark-line"></use></svg> Details
                    </div>
                  </div>
                  <div class="list-items">
                    <ul>
                      {{- range .Params.icons -}}
                        <li {{ if .tooltip }}data-tooltip="{{ .tooltip }}"{{ end }}>
                          <svg class="remix-big" style="fill: {{ .color }};"><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .src }}"></use></svg>
                        </li>
                      {{- end -}}
                    </ul>
                  </div>
                </div>
              {{- end -}}

              {{- if .Params.ratings -}}
                {{- range .Params.ratings -}}
                  <div class="details-ratings details-item">
                    <div class="title is-5">{{- .heading -}}</div>
                    <div class="list-items">
                      {{- with .number -}}
                        {{- partial "ratings" . -}}
                      {{- end -}}
                    </div>
                  </div>
                {{- end -}}
              {{- end -}}

              {{- if .Params.stickers -}}
                {{- range .Params.stickers -}}
                  <div class="details-tags details-item">
                    <div class="title is-5">{{- .heading -}}</div>
                    <div class="list-items">
                      <ul class="tags">
                        {{- range .tags -}}
                          <li class="tag" style="background:{{ with .color }}{{ . }}{{ else }}#777777{{ end }}">{{- with .tag -}}{{- . -}}{{- end -}}</li>
                        {{- end -}}
                      </ul>
                    </div>
                  </div>
                {{- end -}}
              {{- end -}}
            </div>
            
            {{ partial "single-pages/headline-hash.html" .Content }}
          </div>
        </div>

        {{ if .Params.series }}
          <div class="series-footer">
            {{ partial "single-pages/series-footer" . }}
          </div>
        {{ end }}
      </article>
    </div>
    
    <section class="column informations is-3-fullhd is-3-widescreen is-3-desktop is-full-tablet is-full-mobile">
      <div class="columns is-multiline">

      
        <div class="information-section column is-full">
          <p class="title is-4">Information</p>
          
          {{- if .Params.categories -}}
            <div class="category-line">
              {{ range first 1 (.GetTerms "categories") }}
                {{ $catName := .LinkTitle }}
                <span class="tag" style="{{ range .Site.Params.categoryColor }}{{ if eq .name $catName }}background-color: {{ .color }};{{ end }}{{ end }}">
                  <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                </span>
              {{- end -}}
            </div>
          {{- end -}}

          <div class="date-line">
            <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
              <svg class='remix-small'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
              </svg>{{ .PublishDate.Day }}. {{ index $.Site.Data.demonths (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
            </time>
          </div>
          <div class="date-line">
            <time class="updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
              <svg class='remix-small'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#pencil-line"></use>
              </svg>{{ .Lastmod.Day }}. {{ index $.Site.Data.demonths (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}
            </time>
          </div>

          {{- if .Params.tags -}}
            <div class="tags-line">
              <svg class='remix-small'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#price-tag-3-line"></use>
              </svg>
              {{- range (.GetTerms "tags") -}}
                <a href="{{ .RelPermalink }}" class="hashtags">#{{ .LinkTitle }} </a> 
              {{- end -}}
            </div>
          {{- end -}}

          <div class="reading-time-line">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#time-line"></use>
            </svg>{{ .ReadingTime }} {{ i18n "minutesRead" }} zu Lesen
          </div>

          {{- $postSlug := $.File.ContentBaseName -}}
          {{- $comments := index $.Site.Data.comments $postSlug -}}
          {{- $.Scratch.Set "hasComments" 0 -}}
          {{- range $comments -}}
            {{- $.Scratch.Add "hasComments" 1 -}}
          {{- end -}}
          
          {{- if or (ne ($.Scratch.Get "hasComments") 0) .Params.comments.enabled -}}
            <div class="comments-line">
              <svg class='remix-small'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#question-answer-line"></use>
              </svg>
              <a href="{{.RelPermalink}}#comments">{{ $.Scratch.Get "hasComments" }} {{ i18n "comments" ($.Scratch.Get "hasComments") }}</a>&nbsp;
              {{- if .Params.comments.enabled -}} (<a href="{{.RelPermalink}}#postcomment">Verfassen</a>){{- end -}}
            </div>
          {{- end -}}
          {{- $.Scratch.Delete "hasComments" -}}

          {{- if .Params.ratings -}}
            <div class="rating-line">
              {{- range first 1 .Params.ratings -}}
                <svg class='remix-small'>
                  <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#arrow-right-s-line"></use>
                </svg>
                {{- with .number -}}{{- partial "ratings" . -}}{{- end -}}
              {{- end -}}
            </div>
          {{- end -}}

          {{- if .Params.series -}}
            <div class="serie-line">
              {{ $name := index .Params.series 0 }}
              <svg class='remix-small'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#stack-line"></use>
              </svg>Dieser Artikel gehört zur Serie: <a href="{{.Site.BaseURL}}/series/{{$name | urlize}}">{{ $name }}</a>.
            </div>
          {{- end -}}
        </div>

        {{- if ge (len .TableOfContents) 100 -}}
          <div class="toc-section column is-full">
            <p class="title is-4">Übersicht</p>
            {{ .TableOfContents }}
          </div>
        {{- end -}}
        
        {{- if .Params.series -}}
          <div class="serie-section column is-full">
            <p class="title is-4">Serie</p>
            {{- $currentPage := . -}}
            {{- $series_name := index .Params.series 0 -}}

            {{- $.Scratch.Set "series_count" 0 -}}
            {{- range .Site.RegularPages.ByDate -}}
              {{- if in .Params.series $series_name -}}
                {{- $.Scratch.Add "series_count" 1 -}}
              {{- end -}}
            {{- end -}}

            <p class="title is-6"><a href="{{.Site.BaseURL}}/series/{{$series_name | urlize}}">{{ $series_name }} ({{ $.Scratch.Get "series_count" }})</a></p>
            <ol class="series-list">
              {{- range .Site.RegularPages.ByDate -}}
                {{- if in .Params.series $series_name -}}
                  {{- if not (eq $currentPage.RelPermalink .RelPermalink) -}}
                    <li><a href="{{ .RelPermalink }}" title="{{ .Name }} page">{{ .Title }}</a></li>
                  {{- else -}}
                    <li class="is-active">{{ .Title }} </li>
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            </ol>
            
          </div>
        {{- end -}}

        {{- if .Params.authors -}}
          <div class="author-section column is-full">
            {{ partial "single-pages/author-box" . }}
          </div>
        {{- end -}}
        
      </div><!-- children columns -->
    </section><!-- parent column -->

  </div><!-- parents columns -->

  {{ partial "single-pages/related-articles" . }}

  {{ partial "comments/comments" . }}
 
{{- end -}}
