<h2 class="title is-4" id="postcomment">Reaktion verfassen <a class="anchor" href="#postcomment"><div class="anchor-icon"></div></a></h2>

<form id="comment-form" class="post-new-comment" method="post" action="{{ .Site.Params.staticman.endpoint }}/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
  <input type="hidden" name="options[redirectError]" value="{{ .Permalink }}#comment-error">
  <input type="hidden" name="options[slug]" value="{{ $.File.ContentBaseName }}">
  <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="comment-name" class="label">Name<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#asterisk"></use></svg></label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input type="text" name="fields[name]" class="input" id="comment-name" placeholder="Nickname/Vorname" required/>
          <span class="icon is-small is-left">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#user-line"></use></svg>
          </span>
          <span class="icon is-small is-right is-danger" style="display:none;">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#error-warning-line"></use></svg>
          </span>
        </div>
        <p class="help is-danger" style="display:none;">Bitte ausfüllen.</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="comment-email" class="label">E-Mail<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#asterisk"></use></svg></label>
    </div>
    <div class="field-body">     
      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input type="email" name="fields[email]" class="input" id="comment-email" placeholder="mail@domain.de (nicht öffentlich)" required/>
          <span class="icon is-small is-left">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#mail-line"></use></svg>
          </span>
          <span class="icon is-small is-right is-danger" style="display:none;">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#error-warning-line"></use></svg>
          </span>
        </div>
        <p class="help is-danger" style="display:none;">Bitte ausfüllen im Format "mail@domain.de".</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="comment-website" class="label">Webseite</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input type="url" name="fields[website]" class="input" id="comment-website" placeholder="https://example.de" />
          <span class="icon is-small is-left">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#external-link-line"></use></svg>
          </span>
        </div>
      </div>
    </div>
  </div>

  {{/*  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <div class="b-checkbox is-primary is-inline">
            <input id="checkbox-mail" type="checkbox">
            <label for="checkbox-mail">
              Ja, ich möchte über neue Reaktionen per E-Mail benachrichtig werden!
            </label>
          </div>
        </p>
      </div>
    </div>
  </div>   */}}

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label for="comment-message" class="label">Nachricht<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#asterisk"></use></svg></label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea name="fields[comment]" class="textarea" id="comment-message" placeholder="Markdown ist erlaubt" required rows="10"></textarea>
        </div>
        <p class="help is-danger" style="display:none;">Bitte ausfüllen.</p>
        <p class="help is-primary">Reaktioen werden moderiert, es kann etwas dauern bis Deine frei geschaltet wird.</p>
        <p class="help is-primary">Dieses Nachrichten Feld unterstützt <a href="https://markdown.de/" target="_blank" rel="noreferrer">Markdown</a>.</p>
        <p class="help is-primary">Falls Du mir privat schreiben willst, kannst Du das hier: <a href="/kontakt">Kontaktiere mich</a>.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal checkbox">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="b-checkbox is-primary">
            <input id="checkbox" class="comment-checkbox" type="checkbox" required>
            <label for="checkbox">Meine Daten in diesem Browser speichern, bis ich wieder kommentiere. Mehr Informationen in der <a href="/datenschutz">Datenschutzerklärung.</a>
            </label>
          </div>
          <p class="help is-danger" style="display:none;">Bitte akzeptieren!</p>
        </div>
      </div>
    </div>
  </div> 

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field is-grouped is-horizontal">
        <div class="control">
          <button type="submit" class="button is-primary" value="Absenden" id="comment-send">
            <svg class='remix'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#share-forward-line"></use>
            </svg>Absenden
          </button>
        </div>
      </div>
    </div>
  </div>

</form>