{{- $hasTotalReplies := 0 -}}
{{- range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) -}}
  {{- if eq .reply_to $.parentId -}}
    {{- $hasTotalReplies = add $hasTotalReplies 1 -}}
  {{- end -}}
{{- end -}}

{{- $hasReplies := 0 -}}
{{- range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) -}}
  {{- if eq .reply_to $.parentId -}}
    {{- $hasReplies = add $hasReplies 1 -}}
    <article id="commentid-{{ ._id }}" class="media post-comment reply">
      
      <figure class="media-left">
        {{ if .website }}<a href="{{ .website }}" title="Webseite von {{.name}}" target="_blank" rel="noreferrer">{{ end }}
          <p class="image is-120x120 addGravatarOrAvatarJS">
            <script type="text/javascript">
              setGravatars('{{ .email }}', '{{ $.Site.Params.staticman.gravatarDefault }}');
            </script>
          </p>
        {{ if .website }}</a>{{ end }}
        <figcaption>{{ $.parentCount }}.{{ $hasReplies }}</figcaption>
      </figure>
      
      <div class="media-content">
        <div class="content">
          <p class="is-4">{{ .name }}</p>
          <p>{{ .comment | markdownify }}</p>
        </div>

        <div class="media-footer">

          <div class="comment-time footer-item">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
            </svg><time datetime='{{ (time .date).Add (2 | duration "hour" ) | dateFormat "2006-01-02T15:04:05Z07:00" }}' class="post-time">{{ (time .date).Add (2 | duration "hour" ) | dateFormat "02.01.06" }}</time>
          </div>

          <a href="#commentid-{{ ._id }}" class="comment-anchor footer-item" title="Permalink zur Reaktion" data-tooltip="Permalink zur Reaktion">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#links-fill"></use>
            </svg>
          </a>

          {{- if .website -}}
            <a href="{{ .website }}" class="website footer-item" target="_blank" rel="noreferrer" data-tooltip="Webseite">
              <svg class='remix-small'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#external-link-line"></use>
              </svg>
            </a>
          {{- end -}}

          {{- if eq $hasReplies $hasTotalReplies -}}
            <button id="{{ ._id }}" class="button is-primary" href="#postcomment" onclick="changeValue('fields[reply_to]', '{{ $.parentId }}')">
              <svg class='remix'>
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#reply-all-line"></use>
              </svg><span>Antworten</span>
            </button>
          {{- end -}}
        </div>
      </div>
    </article>
    
  {{- end -}}
{{- end -}}