{{- $postSlug := $.File.ContentBaseName -}}
{{- $comments := index $.Site.Data.comments $postSlug -}}
{{- $.Scratch.Set "commentsCount" 0 -}}
{{- range $comments -}}
  {{- $.Scratch.Add "commentsCount" 1 -}}
{{- end -}}

{{- if and .Site.Params.staticman (not .Site.Params.disable_comments) -}}
  <div class="columns">

    <div class="column is-9-fullhd is-9-widescreen is-9-desktop is-full-tablet is-full-mobile">
      <section id="comments">

        {{- if or (ne ($.Scratch.Get "commentsCount") 0) .Params.comments.enabled -}}
          <h2 class="title is-4">Reaktionen <a class="anchor" href="#comments"><div class="anchor-icon"></div></a></h2>
        {{- end -}}

        {{- if eq .Params.comments.enabled false -}}
          <div id="comments-deactivated-message">
            <article class="message is-primary">
              <div class="message-header">
                <h2 class="title is-5">Reaktionen wurden{{ if .Params.comments.deactivatedOn }} am {{ .Params.comments.deactivatedOn }}{{ end }} deaktiviert</h2>
              </div>
              <div class="message-body">
                <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use></svg>
                <p>
                  {{- with .Params.comments.message -}}
                    {{ . }}
                  {{- else -}}
                    Der Autor des Artikels hat die Möglichkeit zum Verfassen einer Reaktion deaktiviert.
                  {{- end -}}
                </p>
              </div>
            </article>
          </div>
        {{- end -}}

        {{- $.Scratch.Set "hasComments" 0 -}}
        {{- range $comments -}}
          {{- if not .reply_to -}}
            {{- $.Scratch.Add "hasComments" 1 -}}
            {{- $.Scratch.Set "commentName" .name -}}
            <article id="commentid-{{ ._id }}" class='media post-comment {{ range ($.GetTerms "authors") }} {{ if eq ($.Scratch.Get "commentName") .Page.Title }} is-author {{ end }} {{ end }}'>
              <figure class="media-left">
                {{ if .website }}<a href="{{ .website }}" title="Webseite von {{.name}}" target="_blank" rel="noreferrer">{{ end }}
                  <p class="image is-120x120 addGravatarOrAvatarJS">
                    <script type="text/javascript">
                      setGravatars('{{ .email }}', '{{ $.Site.Params.staticman.gravatarDefault }}');
                    </script>
                  </p>

                {{ if .website }}</a>{{ end }}
                <figcaption>{{ $.Scratch.Get "hasComments" }}</figcaption>
              </figure>
              
              <div class="media-content">
                <div class="content">
                  <p class="is-4">{{ .name }}</p>
                  <p>{{ .comment | markdownify }}</p>
                </div>

                <div class="media-footer">
                  <div class="comment-time footer-item">
                    <svg class='remix-small'>
                      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
                    </svg><time datetime='{{ (time .date).Add (2 | duration "hour" ) | dateFormat "2006-01-02T15:04:05Z07:00" }}' class="post-time">{{ (time .date).Add (2 | duration "hour" ) | dateFormat "02.01.06" }}</time>
                  </div>

                  <a href="#commentid-{{ ._id }}" class="comment-anchor footer-item" title="Permalink zur Reaktion" data-tooltip="Permalink zur Reaktion">
                    <svg class='remix-small'>
                      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#links-fill"></use>
                    </svg>
                  </a>

                  {{- if .website -}}
                    <a href="{{ .website }}" class="website footer-item" target="_blank" rel="noreferrer" data-tooltip="Webseite">
                      <svg class='remix-small'>
                        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#external-link-line"></use>
                      </svg>
                    </a>
                  {{- end -}}
                  
                  <button data-tooltip="Antworte @{{.name}}" id="{{ ._id }}" class="button is-primary" href="#postcomment" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">
                    <svg class='remix'>
                      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#reply-line"></use>
                    </svg><span>Antworten</span>
                  </button>
  
                </div>
              </div>
            </article>
            {{ partial "comments/comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "parentCount" ($.Scratch.Get "hasComments") "gravatarDefault" $.Site.Params.staticman.gravatarDefault "context" . ) }}
          {{- end -}}
        {{- end -}}
    
        {{- if and (eq ($.Scratch.Get "hasComments") 0) .Params.comments.enabled -}}
          <article class="media no-comment post-comment">
            <figure class="media-left">
              <p class="image is-120x120">
                <img alt="User Default Avatar" class="is-rounded" src="/images/avatar.png" loading="lazy">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p><strong>Keine Reaktionen vorhanden</strong>
                <br>Pinne was zum Thema an und verfasse eine Reaktion.</p>
              </div>
            </div>
          </article>
        {{- end -}}
    
      </section>
    </div>
    
    <div class="column is-one-quarter"></div>
  </div>

  {{- if .Params.comments.enabled -}}

    <div class="columns">

      <div class="column is-9-fullhd is-9-widescreen is-9-desktop is-full-tablet is-full-mobile">

        <section id="comments-form" class="box">

          <div id="comments-messages">
            <article class="message is-success" id="comment-submitted" style="display: none;">
              <div class="message-header">
                <h2 class="title is-5">Danke schön!</h2>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#check-fill"></use></svg>
                <p>
                  Deine Reaktion wurde eingereicht und wird veröffentlich, sobald sie genehmigt wurde.<br />
                  Schau Dir solange Deine Reaktion an unter: <a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/pulls" target="_blank" rel="noreferrer">github.com</a>.
                </p>
              </div>
            </article>
      
            <article class="message is-danger" id="comment-error" style="display: none;">
              <div class="message-header">
                <h2 class="title is-5">Oops!</h2>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#alert-line"></use></svg>
                <p>
                  Deine Reaktion wurde nicht eingereicht. Bitte versuche es noch einmal. Danke schön!<br />
                  Sollte dieser Fehler bestehen bleiben, bitte hier eine neue Fehlermeldung hinzufügen <a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/issues"> github.com</a>.
                </p>
              </div>
            </article>
          </div>

          {{ partial "comments/comment-form" . }}
        </section>
      
      </div>
      <div class="column is-one-quarter"></div>
    </div>

  {{- end -}}
  
{{- end -}}

{{- $.Scratch.Delete "hasComments" -}}
{{- $.Scratch.Delete "commentsCount" -}}
{{- $.Scratch.Delete "commentName" -}}
