{{ $title := .context.Page.Title }}

<div class="column is-one-fifth-fullhd is-one-quarter-widescreen is-one-third-desktop is-half-tablet is-full-mobile is-flex">
  <div class="card is-small-count {{ if .context.Page.Resources }}has-image{{else}}no-image{{ end }} ">

    {{- if .context.Page.Resources -}}
      <div class="card-image">
        <figure class="image is-3by2">
          <a href="{{ .context.Page.Permalink }}">
            {{- $img := (.context.Page.Resources.ByType "image").GetMatch "featured*" -}}
            {{- with $img -}}
              {{- $resize := .Fill "300x200" -}}
                <img src="{{ $resize.RelPermalink }}" alt="{{ .Title }}" width="480" height="320" loading="lazy">
            {{- end -}}
            {{- range .context.Page.Params.featured_image -}}
              <figcaption>
                <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use></svg>
                {{ .byline | safeHTML }}
              </figcaption>
            {{- end -}}
          </a>
        </figure>
      </div>
    {{- end -}}
    <div class="card-content has-text-centered">
      <a class="title is-5 is-size-6-mobile colored" href="{{ .context.Page.Permalink }}" style="{{ range $key, $param := (.color.Get "color") }}{{ if eq $key $title }}color:{{ $param }};{{ end }}{{ end }}">
      {{ .context.Page.Title }}</a>

      {{- $pageCount := len .context.Pages -}}
      <p>{{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }}</p>
    </div>
  </div>
</div>