{{ $classes := "" }}

{{- if and (eq .Params.weight 1) (not (eq "quotes" .Page.Type)) -}}
  {{ $classes = "is-pinned is-one-third-fullhd is-half-custom-cards is-half-widescreen is-half-desktop is-full-tablet is-full-mobile" }}
{{- else -}}
  {{ $classes = "is-one-third-fullhd is-half-custom-cards is-half-widescreen is-half-desktop is-full-tablet is-full-mobile" }}
{{- end -}}

<div class="column {{ $classes }} is-flex">
  {{- if eq "quotes" .Page.Type -}}
    {{ partial "formats/quote-summary.html" . }}
  {{- else -}}
    {{ partial "formats/article-summary.html" . }}
  {{- end -}}
</div>

