<div class="closed" id="cookie-banner">
  <p>
    <strong>Verwendung von Cookies</strong><br />
    Diese Seite verwendet Cookies um Kommentar-Bilder anzuzeigen und Google Analytics zu verwenden.<br />
    Weitere Informationen zu Cookies in der Datenschutzerklärung.<br />
    <a role="button" id="remove-cookies">Alle Cookies entfernen</a>
  </p>

  <div>
    <button id="consent-cookies" class="button is-primary">
      <svg class="remix">
        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#check-fill"></use>
      </svg>Erlauben
    </button>

    <button id="reject-cookies" class="button is-primary" data-tooltip="Setzt ein Ablehnungs-Cookie, um den Banner zu schließen">
      <svg class="remix">
        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#close-fill"></use>
      </svg>Ablehnen
    </button>
    
  </div>

  <div id="cookie-banner-opener"></div>
</div>