{{- $paginator := .Paginator -}}
<div class="columns is-centered">
  <div class="column is-narrow">

  <!-- If there's more than one page. -->
  {{- if gt $paginator.TotalPages 1 -}}
    <nav class="pagination is-centered" aria-label="pagination">
      {{- with $paginator.First -}}
          <a {{ if $paginator.HasPrev }}href="{{ .URL }}"{{ else }}href="#"{{ end }} class="pagination-previous" aria-label="First" {{ if not $paginator.HasPrev }}disabled{{ end }}>
            <svg class='remix'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#skip-back-line"></use>
            </svg>
          </a>
      {{- end -}}
      <a {{ if $paginator.HasPrev }}href="{{ $paginator.Prev.URL }}"{{ else }}href="#"{{ end }} class="pagination-previous" aria-label="Previous" {{ if not $paginator.HasPrev }}disabled{{ end }}>
        <svg class='remix'>
          <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#arrow-left-s-line"></use>
        </svg>
      </a>

      <a {{ if $paginator.HasNext }}href="{{ $paginator.Next.URL }}"{{ else }}href="#"{{ end }} class="pagination-next" aria-label="Next" {{ if not $paginator.HasNext }}disabled{{ end }}>
        <svg class='remix'>
          <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#arrow-right-s-line"></use>
        </svg>
      </a>
      {{- with $paginator.Last -}}
        <a {{ if $paginator.HasNext }}href="{{ .URL }}"{{ else }}href="#"{{ end }} class="pagination-next" aria-label="Last" {{ if not $paginator.HasNext }}disabled{{ end }}>
          <svg class='remix'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#skip-forward-line"></use>
          </svg>
        </a>
      {{- end -}}

      <ul class="pagination-list">
      
        {{- $ellipsed := false -}}
        {{- $shouldEllipse := false -}}
        {{- range $paginator.Pagers -}}
          {{- $right := sub .TotalPages .PageNumber -}}
          {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
          {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $paginator.PageNumber 2)) (lt .PageNumber (add $paginator.PageNumber 2)))  -}}
          {{- if $showNumber -}}
            {{- $ellipsed = false -}}
            {{- $shouldEllipse = false -}}
          {{- else -}}
            {{- $shouldEllipse = not $ellipsed -}}
            {{- $ellipsed = true -}}
          {{- end -}}
          {{- if $showNumber -}}
            <li><a class="pagination-link{{ if eq . $paginator }} is-current{{ end }}" href="{{ .URL }}" aria-label="Goto page">{{ .PageNumber }}</a></li>

          {{- else if $shouldEllipse -}}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
          {{- end -}}
        {{- end -}}
      </ul>
    </nav>
  {{- end -}}
  </div>
</div>