{{- $stars := . -}}

<ul class="stars">
  {{- with (eq $stars "0") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
  {{- end -}}
  {{- with (eq $stars "0.5") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
  {{- end -}}
  {{- with (eq $stars "1") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
  {{- end -}}
  {{- with (eq $stars "1.5") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
  {{- end -}}
  {{- with (eq $stars "2") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>    
  {{- end -}}
  {{- with (eq $stars "2.5") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
  {{- end -}}
  {{- with (eq $stars "3") -}}
    </li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    </li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    </li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    </li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>
    </li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>      
  {{- end -}}
  {{- with (eq $stars "3.5") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>    
  {{- end -}}
  {{- with (eq $stars "4") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg></li>    
  {{- end -}}
  {{- with (eq $stars "4.5") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg></li>    
  {{- end -}}
  {{- with (eq $stars "5") -}}
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>
    <li><svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg></li>    
  {{- end -}}
  <li class="star-count">({{ $stars }})</li>
</ul>
