<button id="back-to-top" title="Zurück zum Seitenanfang">
  <svg class='remix'>
    <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#arrow-up-s-fill"></use>
  </svg>
</button>

{{ partial "cookie-banner.html" . }}

<footer class="footer">

  <svg>
    <filter id="turbulence" x="0" y="0" width="100%" height="100%">
      <feTurbulence id="sea-filter" numOctaves="2" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
      <feDisplacementMap scale="20" in="SourceGraphic"></feDisplacementMap>
      <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="200s" keyTimes="0;0.8;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
    </filter>
  </svg>

  <div class="content has-text-centered">
    <div class="slogan">
      Du willst schreiben - ohne einen eignen Blog zu veröffentlichen?<br />
      Be a part of Article Time!
    </div>
  </div>

  <div class="content content-wrapper">
    <div class="columns is-multiline">

      <div class="column footer-box social is-one-quarter-fullhd is-one-third-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
        <p class="title is-4">Article Time</p>
        <div class="has-text-centered logo"><img src="/images/clock.png" width="150" alt="Logo" title="Logo" /></div>
        <div class="icons has-text-centered">{{ partial "social-follow.html" (dict "context" . "isFooter" true "isHeader" false ) }}</div>
      </div>
  
      <div class="column footer-box widgets is-one-quarter-fullhd is-one-third-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
        {{ partial "widget-mostloved.html" . }}
      </div>

      
      <div class="column footer-box stats is-one-quarter-fullhd is-one-third-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
        <p class="title is-4">Statistik</p>
        <p>Momentan befinden sich {{ len (where .Site.RegularPages "Type" "in" (slice "articles" "quotes") ) }} <a href="/">Artikel</a> auf dieser Seite.</p>
        <ul>

          <li>
            {{- $count := len (where .Site.RegularPages "Section" "quotes") -}}
            <span class="variable">{{ $count }}</span>
            <span class="variable-number">{{ i18n "quotes" $count }}</span>
          </li>
           
          <li>
            {{ $countA := len (where .Site.RegularPages "Section" "articles") }}
            <span class="variable">{{ $countA }}</span>
            <span class="variable-number"> Einfache Artikel</span>
          </li>

          <ul>   
            <li>
              {{ $countM := len (where (where .Site.RegularPages "Section" "articles") ".Params.format" "==" "rating") }}
              <span class="variable">{{ $countM }}</span>
              <span class="variable-number">{{ i18n "movies" $countM }}</span>
            </li>
          </ul>
          
        </li>
      </div>

      <div class="column footer-box widgets is-one-quarter-fullhd is-one-third-widescreen is-one-third-desktop is-half-tablet is-full-mobile">
        {{ partial "widget-archive.html" (dict "context" . "archiveTitle" "Archiv") }}
      </div>
  
    </div>
  </div>

  <div class="content has-text-centered navi">
    {{- if .Site.Menus.footer -}}
      <ul>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.footer -}}
          <li>
            {{- if not (eq $currentPage.RelPermalink .URL) -}}
              <a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
            {{- else -}}
              <span class="is-active">{{ .Name }}</span>
            {{- end -}}
          </li>
        {{- end -}}
      </ul>
    {{- end -}}
  </div>

  <div class="content has-text-centered copyright">
    &copy; 2020 - {{ dateFormat "2006" now }} | <abbr title='Build Date: {{ readFile "buildDate.txt" }}'>v{{ readFile "version.txt" }}</abbr>
    | <span>{{ .Site.Copyright | safeHTML }}</span>

    <p>
      <!-- MUSS im Footer bleiben, nur noch schön machen -->
      Header SVGs von: <a href="https://www.shutterstock.com/g/pixelliebe">pixelliebe</a> | 
      <a href="https://www.shutterstock.com/image-vector/hamburg-skyline-471775031">shutterstock.com</a>
      | <a href="https://www.shutterstock.com/image-vector/kiel-skyline-german-city-581455954">shutterstock.com</a>
    </p>
  </div>
 
</footer>