<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="is-mobile navbar-item {{ if .Page.IsHome }}is-active{{ end }} navbar-logo " href="/" title="{{ .Name }} page">
      <img src="/images/clock.png" alt="Logo"><span>{{ .Site.Title }}</span>
    </a>
    
    <div class="navbar-item is-hidden-desktop">
      {{ partial "social-follow.html" (dict "context" . "isHeader" true "isFooter" false ) }}
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarHeader">
      
    <div class="navbar-start">
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main -}}

        {{- if .HasChildren -}}

          {{- range .Params }}
              {{ $.Scratch.Set "isMegaMenue" . }}
          {{ end }}


          {{ if eq ($.Scratch.Get "isMegaMenue") true }}

            <div class="navbar-item has-dropdown is-hoverable is-mega">
              <a class="navbar-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}">
                {{- .Name -}}
              </a>
              <div class="navbar-dropdown">

                <div class="container is-fluid">
                  <div class="columns is-multiline">
                    {{- range .Children -}}
                      {{- $.Scratch.Set "CatName" .Name -}}
                      <div class="column is-one-third-fullhd is-one-half-widescreen is-one-half-desktop is-one-third-tablet is-full-mobile">

                        <div class="navbar-content">
                          
                          {{- with $.Site.GetPage .URL -}}
                            {{- if .Resources -}}
                              <figure class="image">
                                <a href="{{ .Page.Permalink }}">
                                  {{- $img := (.Page.Resources.ByType "image").GetMatch "featured*" -}}
                                  {{- with $img -}}
                                    {{- $resize := .Fill "200x150" -}}
                                      <img src="{{ $resize.RelPermalink }}" alt="{{ .Title }}" width="200" height="150" loading="lazy">
                                  {{- end -}}
                                </a>
                              </figure>
                            {{- end -}}
                          {{- end -}}

                          <a href="{{ .Page.Permalink }}" class="title is-5 colored" style='color: 
                            {{- range $.Site.Params.categoryColor -}}
                              {{- if eq ($.Scratch.Get "CatName") .name -}}
                                {{- .color -}}
                              {{- end -}}
                            {{- end -}}'>{{ .Name }}</a>
                          
                          {{- with $.Site.GetPage .URL -}}
                            <span class="inner-content">{{ .Content | markdownify | truncate 140 " [...]" }}</span>
                            <a class="read-more" href="{{ .RelPermalink }}"> {{ i18n "readMore" }}</a>
                          {{- end -}}

                        </div>
                      </div>
                    {{- end -}}

                    {{- $.Scratch.Delete "CatName" -}}
                  </div>
                </div>
      
              </div>
            </div>
          
          {{ else }}

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}">
                {{- .Name -}}
              </a>
              <div class="navbar-dropdown">
                {{- range .Children -}}
                  <a class="navbar-item " href="{{ .Page.Permalink }}">{{ .Name }}</a>
                {{- end -}}
              </div>
            </div>

          {{ end }}
          {{ $.Scratch.Delete "isMegaMenue" }}

        {{- else -}}

          <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
            {{- .Name -}}
          </a>
        {{- end -}}
        
      {{- end -}}

    </div>

    <div class="navbar-end">
      <div class="navbar-item is-hidden-touch has-no-hover-border">
        {{ partial "social-follow.html" (dict "context" . "isHeader" true "isFooter" false ) }}
      </div>
      
      <div class="navbar-item field">
        <div class="searchWithButton">
          <label for="searchBox" class="visible-hidden">Search Box</label>
          <input class="input" type="search" name="searchBox" id="searchBox" placeholder="Search...">
          <button id="searchIcons" class="icon is-small is-right" aria-label="Search Icon">
            <svg class='remix lens'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#search-2-line"></use></svg>
            <svg class='remix close'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#close-fill"></use></svg>
            <div id="spinnerLoading" class="control spinner is-loading"></div>
          </button>
        </div>
        <div id="resultsWrapper"><div id="results"></div></div>
      </div>

    </div>
    
  </div>

</nav>
  