<div class="widget archive box">
  <p class="title is-4">{{ .archiveTitle }}</p>

  {{ if not (eq .context.RelPermalink "/archive/") }}

    {{ range where .context.Site.Pages "Section" "articles" }}
      {{ range first 1 (.Pages.GroupByDate "2006") }}

        {{ $.context.Scratch.Set "yearIndexArchive" .Key }}

        <div class="columns is-vcentered is-mobile">
          <div class="column is-narrow year">
            {{ .Key }}
          </div>

          <div class="column">
            <ul>
              {{ range (.Pages.GroupByDate "January") }}
                {{ $list := .Pages }}
                {{ $len := (len $list) }}
                <li>
                  <span class="month-name"><a href='{{ $.Site.Params.baseurl }}/archive/#{{ .Key }}-{{ $.context.Scratch.Get "yearIndexArchive" }}'>{{ .Key }}</a></span>
                  <span class="month-number">{{ $len }}</span>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      
      {{ end }}
      {{ $.context.Scratch.Delete "yearIndexArchive" }}
    {{ end }}
    
  {{ else }}

    {{ range where .context.Site.Pages "Section" "articles" }}
      {{ range (.Pages.GroupByDate "2006") }}

        {{ $.context.Scratch.Set "yearIndexArchive" .Key }}

        <div class="columns is-vcentered is-mobile">
          <div class="column year">
            {{ .Key }}
          </div>

          <div class="column">
            <ul>
              {{ range (.Pages.GroupByDate "January") }}
                {{ $list := .Pages }}
                {{ $len := (len $list) }}
                <li>
                  <span class="month-name"><a href='{{ $.Site.Params.baseurl }}/archive/#{{ .Key }}-{{ $.context.Scratch.Get "yearIndexArchive" }}'>{{ .Key }}</a></span>
                  <span class="month-number">{{ $len }}</span>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      
      {{ end }}
      {{ $.context.Scratch.Delete "yearIndexArchive" }}
    {{ end }}

  {{ end }}


  {{ if not (eq .context.RelPermalink "/archive/") }}
    <a href="/archive" class="button is-primary">
      <svg class='remix'>
        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#bookmark-line"></use>
      </svg>
      Archiv
    </a>
  {{ end }}
</div>