<article class="card is-horizontal {{ if .Resources }}has-image{{else}}no-image{{ end }} has-ribbon">

  {{- if .Resources -}}
    <div class="card-image">
      <figure class="image is-2by3">
        <a href="{{ .Permalink }}">
          {{- $img := (.Resources.ByType "image").GetMatch "featured*" -}}
          {{- with $img -}}
            {{- $resize := .Fill "320x480" -}}
              <img src="{{ $resize.RelPermalink }}" alt="{{ $.Title }}" width="480" height="320" loading="lazy">
          {{- end -}}
        </a>
        {{- range .Params.featured_image -}}
          <figcaption>
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use></svg>
            {{ .byline | safeHTML }}
          </figcaption>
        {{- end -}}
      </figure>
    </div>
  {{- end -}}
  
  {{- if .GetTerms "categories" -}}
    {{- range first 1 (.GetTerms "categories") -}}
      {{- $catName := .LinkTitle -}}
      <div class="ribbon" style="{{ range .Site.Params.categoryColor }}{{ if eq .name $catName }}background-color: {{ .color }};{{ end }}{{ end }}">
        <a href="{{ .RelPermalink }}">{{- .LinkTitle -}}</a>
      </div>
    {{- end -}}
  {{- end -}}

  <div class="card-content">
    <div class="media-content">

      <div class="card-title">
        <a class="title is-4" href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
      </div>
      
      <span class="heading">
        <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
          </svg> {{ .Date.Format "02.01.06" }}
        </time>
        {{ if not ( eq (.Date.Format "02.01.06") (.Lastmod.Format "02.01.06") ) }}
        <time class="updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#pencil-line"></use>
          </svg> {{ .Lastmod.Format "02.01.06" }}
        </time>
        {{ end }}
      </span>
    </div>

    <div class="content">

      {{- if .Params.ratings -}}
        <div class="rating">
          {{ range first 1 .Params.ratings }}
            {{ with .number }}{{ partial "ratings" . }}{{ end }}
          {{ end }}
        </div>
      {{- end -}}

      {{ $summarySplits := split .Content "<!--start-summary-->" }}
      {{ $newContent := "" }}

      {{ if ge (len $summarySplits) 2 }}
        <!-- If content has comment "start-summary", then split from there -->
        {{ $newContent = index $summarySplits 1 | plainify }}
      {{ else }}
        <!-- If content has .Params.Summary, it will be used before the auto created Summary -->
        {{ $newContent = .Summary | markdownify }}
      {{ end }}

      <!-- If article has no image, show more content instead -->
      {{- if not .Resources -}}
        {{ $newContent | truncate 600 " [...]" }}

      {{ else }}
        {{ $newContent | truncate 270 " [...]" }}
      {{- end -}}
      
      <a class="read-more" href="{{ .RelPermalink }}"> {{ i18n "readMore" }}</a>

      {{- if (.GetTerms "tags") -}}
        <div class="tags-wrapper">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#price-tag-3-line"></use>
          </svg>
          {{- range (.GetTerms "tags") -}}
            <a href="{{ .RelPermalink }}" class="hashtags">#{{ .LinkTitle }} </a> 
          {{- end -}}
        </div>
      {{- end -}}

    </div>
  </div>

  <footer class="card-footer">
    {{ $list := .GetTerms "authors" }}
    {{ $len := len $list }}
    <div class="author-img {{- if gt $len 1 }} more-authors{{ end -}}">

      {{- if gt $len 1 -}}
        <div class="author-opener">{{ $len }}</div>
        <div class="more-authors-img">
          {{- range first 3 (.GetTerms "authors") -}}
            <figure class="image is-48x48">
              <a href="{{ .Permalink }}">
                {{- range first 1 (.Resources.ByType "image") -}}
                  {{- $img := .Fill "48x48" -}}
                  <img class="is-rounded" src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" width="48" height="48" loading="lazy">
                {{- end -}}
              </a>
            </figure>
          {{- end -}}
        </div>
        
      {{- else -}}
        {{- range first 1 (.GetTerms "authors") -}}
          <figure class="image is-48x48">
            <a href="{{ .Permalink }}">
              {{- range first 1 (.Resources.ByType "image") -}}
                {{- $img := .Fill "48x48" -}}
                <img class="is-rounded" src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" width="48" height="48" loading="lazy">
              {{- end -}}
            </a>
          </figure>
        {{- end -}}
      
      {{- end -}}
    </div>

    <span class="card-footer-item">
      <svg class='remix-small'>
        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#time-line"></use>
      </svg> {{ .ReadingTime }} {{ i18n "minutesRead" }}

      {{- $postSlug := $.File.ContentBaseName -}}
      {{- $comments := index $.Site.Data.comments $postSlug -}}
      {{- $.Scratch.Set "hasComments" 0 -}}
      {{- range $comments -}}
        {{- $.Scratch.Add "hasComments" 1 -}}
      {{- end -}}
      {{ $CountComments := $.Scratch.Get "hasComments" }}
      {{ if not (eq ($CountComments) 0) }}
        <svg class='remix-small comments'>
          <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#question-answer-line"></use>
        </svg>{{ $CountComments }}
      {{- end -}}
      {{- $.Scratch.Delete "hasComments" -}}
    </span>

    <span class="card-footer-item">
      {{- if .Params.weight -}}
        <span data-tooltip="Dies ist ein angepinnter Artikel">
          <svg class='remix-small is-pinned'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#pushpin-line"></use>
          </svg>
        </span>
      {{ else }}
        <span data-tooltip="Dies ist ein Artikel">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#article-line"></use>
          </svg>
        </span>
      {{- end -}}

      {{- if .Params.ratings -}}
        <span data-tooltip="Mit Bewertung">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use>
          </svg>
        </span>
      {{- end -}}
      {{- if .Params.series -}}
        <span data-tooltip="Teil einer Serie">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#stack-line"></use>
          </svg>
        </span>
      {{- end -}}
      
      {{- range (.GetTerms "contains") -}}
        {{- if eq .Title "code" -}}
          <span data-tooltip="Mit Code">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#code-s-slash-fill"></use>
            </svg>
          </span>
        {{- end -}}
        {{- if eq .Title "instagram" -}}
          <span data-tooltip="Mit Instagram Karte">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#instagram-line"></use>
            </svg>
          </span>
        {{- end -}}
        {{- if eq .Title "twitter" -}}
          <span data-tooltip="Mit Twitter Karte">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#twitter-line"></use>
            </svg>
          </span>
        {{- end -}}
        {{- if eq .Title "youtube" -}}
          <span data-tooltip="Mit Youtube Video">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#youtube-line"></use>
            </svg>
          </span>
        {{- end -}}
        {{- if eq .Title "image" -}}
          <span data-tooltip="Mit Bild">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#camera-line"></use>
            </svg>
          </span>
        {{- end -}}
        {{- if eq .Title "gallery" -}}
          <span data-tooltip="Mit Gallerie">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#gallery-line"></use>
            </svg>
          </span>
        {{- end -}}
      {{- end -}}

    </span>
  </footer>
</article>